<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">We're a full service web and mobile development shop. We'd love to help with your next project.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tachometer fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">STRATEGY</h4>
                    <p class="text-muted">We are passionate about improving the way people interact with our websites and applications. We spend countless hours studying user trends to create interfaces that are easy and intuitive to use.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">DESIGN</h4>
                    <p class="text-muted">Our entire business is founded on solid design principles. We believe that focusing on creative, simplistic, and logically created designs provide an enjoyable experience users.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">DEVELOPMENT</h4>
                    <p class="text-muted">We create websites, mobile and online applications, and technology solutions that support a brand and business needs. Our focus on user experience gives clients a unique edge in the marketplace.</p>
                </div>
            </div>
        </div>
    </section>